{% extends "_layout" %}

{% block stylesheets %}
  <link rel="stylesheet" href="/styles/min/h-entry.css" />
{% endblock %}

{% set urlparams = craft.request.getSegments() %}
{% set writeItems = craft.entries.section('write') %}
{% set entry = writeItems.slug(urlparams[4]).first() %}
{% set params = craft.entries.section('write') %}
{% set prevEntry = entry.getPrev(params) %}
{% set nextEntry = entry.getNext(params) %}

{% block content %}
        <div class="row">
          <div class="columns">
            <article class="h-entry">
              <div class="e-content">
                <h2 class="p-name">{{ entry.title }}</h2>
  {% include '_includes/contentBlocks/blocks.twig' with { blocks: entry.contentBlocks } %}
              </div>
            </article>
          </div>
        </div>
{% endblock %}

{%  block postMeta %}
  <div class="metadata">
    {% if prevEntry or nextEntry %}
      <ul class="menu expanded">
        {% if prevEntry %}<li><a href="{{ prevEntry.url }}" aria-label="Previous post">&laquo; Previous post</a></li>{% endif %}
        {% if nextEntry %}<li class="nav-right"><a href="{{ nextEntry.url }}" aria-label="Next post">Next post &raquo;</a></li>{% endif %}
      </ul>
    {% endif %}
    <time class="dt-published" datetime="{{ entry.postDate }}">{{ entry.postDate.format('M d, Y') }}</time>
  </div>
{% endblock %}