<!doctype html>
<html class="no-js" lang="en-US">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="author" content="Zachary Forrest y Salazar" />
	<meta name="description" content="Zachary Forrest y Salazar is a UI engineer, photographer, cigar aficionado, martial artist, and most important, an amateur. He lives in Santa Barbara, California." />
	<meta name="robots" content="index,follow" />
	<meta name="revisit-after" content="14 days" />
	<title>{{ siteName }}{% if title is defined %}/{{ title }}{% endif %}</title>
  <style>{{ source('styles/min/layout.css') }}</style>
	<noscript>
    <style>{{ source('styles/min/no-js.css') }}</style>
  </noscript>
	{% block stylesheets %}{% endblock %}
</head>
<body>
	{% include '_includes/common/header.twig' %}
	<main id="content" role="main">
		{% block content %}Something is fucked up.{% endblock %}
    {% include '_includes/common/footer.twig' %}
  </main>
	<script src="/scripts/min/common.js?t={{ date().timestamp }}"></script>
	<script src="/mint/?js"></script>
	{% block scripts %}{% endblock %}
</body>
</html>